.post-page img {
    border-radius: 12px;
    margin-bottom: 32px;
}

.post-page *:not(span) {
    text-align: left;
}

.markdown-content *:not(svg) {
    z-index: 10;
}
span[content="List of Blogging Sites"] {
    margin-top: 128px;
    margin-bottom: 16px;
    font-weight: 900 !important;
}
.post-page > h1 {
    margin-top: 128px;
    margin-bottom: 16px;
    font-weight: 900 !important;
}
.post-page > h2 {
    margin-top: 96px;
    margin-bottom: 8px;
    font-weight: 900 !important;
}
.post-page > h3 {
    margin-top: 64px;
    margin-bottom: 8px;
    font-weight: 900 !important;
}
.post-page > h4 {
    margin-top: 64px;
    margin-bottom: 8px;
    font-weight: 900 !important;
}
.post-page > h5 {
    margin-top: 32px;
    margin-bottom: 8px;
}
.post-page > h6 {
    margin-top: 32px;
    margin-bottom: 8px;
}
.post-page p {
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.9em;
    text-align: left;

    font-style: normal;
    font-weight: 400;
}
.post-page li {
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 16px;
    font-size: 18px;
    line-height: 1.9em;
    text-align: left;

    font-style: normal;
    font-weight: 400;
    list-style-type: disc;
}

.post-page hr {
    margin-top: 64px;
    margin-bottom: 64px;
}
.post-page a {
    text-decoration: none;
    font-weight: 300;
    margin: 0 2px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5em;
    filter: saturate(180%)

}

@media only screen and (max-width: 640px) {
    .post-page p {
        font-size: 15px;
    }
    .post-page li {
        font-size: 15px;
        list-style-position: inside;
        width: fit-content;
        white-space: normal;
        margin-left: 12px;
    }

    .post-page h2 {
        font-size: 32px;
        line-height: 1.5em;
    }
    .post-page h3 {
        font-size: 24px;
        line-height: 1.5em;
        width: fit-content;
    }
    .post-page h4 {
        font-size: 18px;
        line-height: 1.5em;
        width: fit-content;
    }
}
a.internal {
    margin-top:12px;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 14px;
    color: #00c1d7;
    background-color: #08303b;
    filter: saturate(180%);
}
p > a.external, li > a.external {
    margin-top:12px;
    padding: 2px 8px;
    border-radius: 6px;
    color: #00c1d7;
    background-color: #06191c;
    filter: saturate(180%);
}
h2 > a.external,
h3 > a.external,
h4 > a.external,
h5 > a.external {
    margin-top: 48px;
    padding: 0px 8px;
    border-radius: 12px;
    color: #9e8cfc;
    background-color: #2c2150bf;
}
/* --- INTERNAL LINKS ---  */
.post-page a.internal:not(.no-underline)::before {
    margin-top:16px;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 14px;
    color: #00c1d7;
    background-color: #08303b;
}
.post-page a.internal:hover::before {
    color: #f65cb6;
    background-color: #451b37;
        filter: saturate(180%)

}

/* --- EXTERNAL LINKS ---  */
.post-page a:not(.no-underline)::before,
.post-page a.external:not(.no-underline)::before {
    margin-top:16px;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 14px;
        color: #f65cb6;
    background-color: #451b37;
}
.post-page a:hover::before,
.post-page a.external:hover::before {
    margin-top:16px;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 14px;
    filter: saturate(180%)
}

article p > code,
article li > code {
    padding: 2px 8px;
    margin: 0 2px;
    border-radius: 8px;

}

/* FL TABLE */
.table-wrapper {
    position: relative;
    overflow-x: scroll;
    padding: 4px !important;
    margin: 16px 0;
    border: 2px solid #f9219400;
    border-radius: 16px !important;
}

.fl-table {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 16px;

}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #f8f8f8;
}

html.dark .fl-table {
    background: #151515;
    color: white;
}
html.dark .fl-table thead {
    border-bottom: 2px solid var(--cyan);
}
html.dark .fl-table tr:nth-child(odd) td {
    background: #222;
}

html.dark .fl-table tr:nth-child(even) td {
    background: #252525;
}
html.dark .fl-table thead th {
    color: #ffffff;
    background: transparent;
}
html.dark .fl-table td {
    border-right: 1px solid #383838;
    font-size: 12px;
}

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before {
        content: 'Scroll horizontally >';
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child {
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td,
    .fl-table th {
        padding: 20px 0.625em 0.625em 0.625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #f8f8f8;
        border-right: 1px solid #e6e4e4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #e6e4e4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
.post-page details summary {
    cursor: pointer;
    color: red;
}

.post-page details summary > * {
    display: inline;
}
summary {
    list-style: none;
    top: 0px;
}
summary::-webkit-details-marker {
    display: none;
}
details summary::before {
    color: green;
    font-size: 20px;
    margin-right: 8px;
    /* you can style it however you want, use background-image for example */
}
details[open] summary::before {
    font-size: 24px;
    margin-right: 8px;
    top: 8px;
    /* you can style it however you want, use background-image for example */
}
details {
    margin-top: 24px;
    margin-bottom: 16px;
    transition: all 350ms ease;
    background-color: transparent !important;
}
@media only screen and (max-width: 640px) {
    details summary::before {
        content: url(../public/svg/details-down-mobile.svg);
    }
    details[open] summary::before {
        content: url(../public/svg/details-up-mobile.svg);
    }
}
@media only screen and (min-width: 641px) {
    details summary::before {
        content: url(../public/svg/details-down.svg);
    }
    details[open] summary::before {
        content: url(../public/svg/details-up.svg);
    }
}

.product-card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.product-tag {
    backdrop-filter: blur(40px) saturate(180%);
    -webkit-backdrop-filter: blur(40px) saturate(180%);
    background-color: rgba(230, 245, 255, 0.15);
    font-weight: 800;
    border: 1px solid rgba(230, 245, 255, 0.85);
}

.frontmatter-section-tags a.tag {
    margin-top:16px;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 14px;
}
.frontmatter-section-tags > div > span.tag {
    margin: 8px;
    padding: 4px 8px;
}

.frontmatter-section-tags > div > a.tag,
.frontmatter-section-tags > div > span.tag {
    background-image: none;
    font-weight: 500 !important;
    font-size: 11px !important;
    margin-right: 8px !important;
    line-height: 1.5;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px;
    padding: 1px 15px;
    border-radius: 6px !important;
}
@media only screen and (max-width: 640px) {
    .frontmatter-section-tags > div > a.tag,
    .frontmatter-section-tags > div > span.tag {
        background-image: none;
        width: fit-content;
        font-weight: 500 !important;
        font-size: 12px !important;
        text-transform: uppercase !important;
        margin-right: 4px !important;
        line-height: 1.5;
        vertical-align: baseline;
        letter-spacing: normal;
        margin: 0px;
        padding: 1px 4px;
        border-radius: 6px !important;
    }
}
a.tag:hover {
    background-image: none;
    text-decoration: none;
    filter: saturate(140%);
}
.tag-box {margin-right: 8px;}
.frontmatter-section-tags .tag-box:nth-child(1) a,
.frontmatter-section-tag span.tag:nth-child(1) {
    color: #f66290;
    background-color: #471a2e;
}
.frontmatter-section-tags .tag-box:nth-child(2) a,
.frontmatter-section-tags span.tag:nth-child(2) {
    color: #f65cb6;
    background-color: #451b37;
}
.frontmatter-section-tags .tag-box:nth-child(3) a,
.frontmatter-section-tags span.tag:nth-child(3) {
    color: #bf7af0;
    background-color: #3a1e48;
}
.frontmatter-section-tags .tag-box:nth-child(4) a,
.frontmatter-section-tags span.tag:nth-child(4) {
    color: #9e8cfc;
    background-color: #2c2150;
}
.frontmatter-section-tags .tag-box:nth-child(5) a,
.frontmatter-section-tags span.tag:nth-child(5) {
    color: #00c1d7;
    background-color: #08303b;
}

.frontmatter-section-tags .tag-box:nth-child(6) a,
.frontmatter-section-tags span.tag:nth-child(6) {
    color: #efc001;
    background-color: #352900;
}
.frontmatter-section-tags .tag-box:nth-child(7) a,
.frontmatter-section-tags span.tag:nth-child(7) {
    color: #ff8b3e;
    background-color: #441f04;
}
